.block-inline-blockimage {
  .uds-img {
    max-width: 100%;
  }
}

.topo-black, .gray-7-bg, .morse-code-black, .network-black  {
  .block > h2 {
    color: white;
  }
  .layout-builder-block__content-preview-placeholder-label {
    color: white;
  }
}