@import '../../sass/extends/alerts';

// Override for FA5 icon.

.alert {
  .alert-close {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .close {
      font-size: 1rem;
    }
    .fa-times {
      left: 2.5px;
    }
  }
}
