{#
/**
 * @file
 * Template for Alert component.
 *
 * Available config:
 * - type: primary | secondary | success | danger | warning | info | light | dark
 * - heading: string,
 * - dimissible: true | false
 * - utility_classes: An array of utility classes.
 */
#}
{% set dismissible = dismissible ?? true %}
{% set classes = [
  'container',
  'alert',
  type ? 'alert-' ~ type,
  dismissible ? 'alert-dismissible',
]|merge(utility_classes ? utility_classes : []) %}

<div class="{{ classes|join(' ') }}" role="alert">
  <div class="row">
  {% if heading %}
    <h4 class="alert-heading">{{ heading }}</h4>
  {% endif %}

  {% if type == 'success' %}
    {% set icon = 'fa-check-circle' %}
  {% endif %}
  {% if type == 'warning' %}
    {% set icon = 'fa-bell' %}
  {% endif %}
  {% if type == 'information' %}
    {% set icon = 'fa-info' %}
  {% endif %}
  {% if type == 'error' %}
    {% set icon = 'fa-exclamation-triangle' %}
  {% endif %}


  <div class="col-1"><i class="fas fa-2x {{ icon }}"></i></div>

  {% block content %}
    <div class="col-10">{{ content }}</div>
  {% endblock %}

  {% if dismissible %}
    <div class="col-1">
      <button type="button" class="fa-layers fa-fw fa-2x" data-dismiss="alert" aria-label="Close" style="background-color: transparent; border:none;">
        <i class="fas fa-circle" aria-hidden="true" style="color:white"></i>
        <i class="fas fa-times" aria-hidden="true" data-fa-transform="shrink-6"></i>
        </button>
    </div>
  {% endif %}
  </div>
</div>
