/* Override for the CKEditor table */
.uds-table:not(.uds-table-fixed) {
  table {
    tr {
      :nth-child(n+1) {
        min-width: unset;
        max-width: unset;
      }
    }
  }
}

.uds-table {
  caption {
    caption-side: top;
    font-size: $uds-size-font-large;
    line-height: $uds-component-heading-four-line-height;
    letter-spacing: $uds-component-heading-four-letter-spacing;
    font-weight: $uds-component-heading-font-weight;
    opacity: 1;
    margin: $uds-component-heading-margin 0;
    color: $uds-color-base-gray-7;
  }
}
