<div class="row">
  <div class="col col-12 ">
    <div class="uds-image-text-block-container">
      <div class="uds-image-text-block-image-container">
        <img src="{{ image }}"></img>
      </div>

      <div class="uds-image-text-block-text-container">
        {{ heading }}
        <h4>{{ sub_heading }}</h4>
        {{ content }}
        <div class="row">
          <div class="col-12 col-md-6 py-1">
            <a href="#" class="btn btn-dark">Button link here</a>
          </div>

          <div class="col-12 col-md-6 py-1">
            <a href="#" class="btn btn-dark">Button link here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
