@import '../../sass/extends/cards';

// Cards overrides for accordion.
.accordion .card>div:last-child {
  padding-bottom: 0;
}
.accordion .card-foldable .card-body > p:last-child {
  margin-bottom: 1rem;
}

.accordion .card.card-foldable {
  border-bottom: none;
}
.accordion {
  border-bottom: 1px solid $uds-color-base-gray-3;
}

.accordion p {
  max-width: 75ch;
}
