@import '../../sass/extends/cards';
// Set content width to 75 characters.
.accordion {
  p {
    max-width: 700px;

    &:first-child {
      margin-top: $uds-size-spacing-2;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
