.spacing-top-8 {
  margin-top: 8px;
}
.spacing-top-16 {
  margin-top: 16px;
}
.spacing-top-24 {
  margin-top: 24px;
}
.spacing-top-32 {
  margin-top: 32px;
}
.spacing-top-48 {
  margin-top: 48px;
}
.spacing-top-72 {
  margin-top: 72px;
}
.spacing-top-96 {
  margin-top: 96px;
}
.spacing-bottom-8 {
  margin-bottom: 8px;
}
.spacing-bottom-16 {
  margin-bottom: 16px;
}
.spacing-bottom-24 {
  margin-bottom: 24px;
}
.spacing-bottom-32 {
  margin-bottom: 32px;
}
.spacing-bottom-48 {
  margin-bottom: 48px;
}
.spacing-bottom-72 {
  margin-bottom: 72px;
}
.spacing-bottom-96 {
  margin-bottom: 96px;
}
