
<div class="container">
  <div class="row row-spaced pt-2 pb-2">
    {% if content.field_cards['#view_mode'] =='card_arrangement_vertical' %}
      <div class="col col-12 col-md-6 col-lg-4">
        <div class="card">
    {% else%}
        <div class="col col-12 col-md-12 col-lg-6">
          <div class="card card-horizontal">
    {% endif %}
      {% for card in cards  %}
        {% include '@renovation/cards/card_arragement.twig' with {
          media: card.media,
          heading: card.heading,
          body: card.body,
          links: card.links,
          ctas:cards.ctas,
          tags: card.tags,
          location: card.location,
          card_view_mode: content.field_cards['#view_mode']
        } %}
      {% endfor %}
          </div>
        </div>
    </div>
  </div>
</div>
