.align-left.embedded-media {
  padding: 5px 10px 0 0;
}

.align-right.embedded-media {
  padding: 5px 0 0 10px;
}

.formatted-text {
  .align-center {
    text-align: center;
  }
}


figure.caption-drupal-media {
    .embedded-media {
      img {
        border: 1px solid #d0d0d0;
      }
    }

    figcaption {
      border: 1px solid #d0d0d0;
      border-top: none;
      opacity: 1;
      background: #fff 0% 0% no-repeat padding-box;
      padding: .75rem;
      font-size: .75rem;
      text-align: left;
    }

}

