{#
/**
 * @file
 * Template for a block.
 */
#}
<div{{ attributes.addClass(classes) }}>
  {{ title_suffix }}
  {% include '@renovation/divider/divider.twig' with {
    color: content.field_divider_color,
} %}
</div>
