<div class="container-xl">
  <div class="row">
   <div class="col-md-12 pl-0 pr-0">
      <div class="uds-grid-links {{ display }} {{ style }}">
        {{ links }}
      </div>
  </div>
  </div>
</div>
