{#
/**
 * @file
 * Default template for a CTA field.
 */
#}
{%
  set classes = [
  bundle|clean_class ~ '__' ~ field_name_clean|clean_class,
  label_display == 'inline' ? 'd-flex',
]
%}
{% for item in items %}
  <div{{ attributes.addClass(classes) }}>
    {% include '@renovation/buttons/button-cta.twig' with {
      url : item.content['#url'],
      title: item.content['#title'],
      button_color: bg_color == 'banner-black' ? 'btn-gold' : 'btn-dark',
    } %}
  </div>
{% endfor %}

