{#
/**
 * @file
 * Default theme implementation for a field menu item
 *
 * Available variables:
 *   - title
 *   - tree
 */
#}
{% if title %}
  <h2 class="menu-title">{{ title }}</h2>
{% endif %}
{% include '@renovation/menus/menu--sidebar-menu.html.twig' with {
 tree: tree
} %}
