.layout-builder-discard-changes.confirmation,
.layout-builder-revert-overrides.confirmation {
  padding-top: 2.5rem;
  .form-actions {
    margin-top: 2.5rem;
  }
}

form.uds-form {
  input {
    padding-left: $uds-size-spacing-4 !important;
  }
}

form.uds-form.layout-builder-configure-block .form-check input[type=radio] {
  opacity: 1;
}

form.uds-form.layout-builder-configure-block .form-check input[type=radio]+label:before {
  content: none;
}

form.uds-form.layout-builder-configure-block .form-check input[type=radio]+label:after {
  content: none;
}

form.uds-form .form-check input[type=checkbox]+label:before {
  bottom: auto;
}
