<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-12">
      <div class="uds-video-container uds-video-with-caption">
        <div class="uds-video-player">
          {{ media }}
        </div>
        {% if caption %}
          <figure>
            <figcaption>{{ caption }}</figcaption>
          </figure>
        {% endif %}
      </div>
    </div>
  </div>
</div>
