@import '../../sass/extends/sidebar';

.sidebar {

  .nav-link {
    text-decoration: none;
    &.active,
    &.is-active {
      text-decoration: none;
      padding-bottom: 0;
    }
    &:focus {
      text-decoration: underline;
    }

    &.active:after,
    &.is-active:after {
      content: '';
      position: relative;
      display: block;
      margin-top: $uds-size-spacing-2;
      height: $uds-size-spacing-1;
      width: 100%;
      background-color: $uds-color-base-gold;
      text-decoration: none;
    }
    &[aria-expanded='true'] {
      svg {
        transform: rotate(180deg);
      }
    }
    svg {
      float: right;
    }
  }
  .card.card-foldable {
    margin-bottom: 0;
  }
}
