.banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
}

.banner .banner-icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.banner .banner-icon svg {
  font-size: 2rem;
  margin: 0.25rem 2rem;
}

.banner .banner-content {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  margin-right: 2rem;
}

.banner .banner-content h3 {
  margin: 0.5rem 0rem;
}

.banner .banner-buttons {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.banner .banner-buttons a,
.banner .banner-buttons button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.banner .banner-close {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-top: -1rem;
  margin-right: -1rem;
}

.banner .banner-close .close {
  opacity: 100%;
  font-size: 1rem;
}

.banner .banner-close .close:hover {
  opacity: 100%;
}

.banner-green {
  background: #78be20 0% 0% no-repeat padding-box;
}

.banner-green a:not(.btn) {
  color: #191919;
}

.banner-green a:visited:not(.btn) {
  color: #191919;
}

.banner-orange {
  background: #ff7f32 0% 0% no-repeat padding-box;
}

.banner-orange a:not(.btn) {
  color: #191919;
}

.banner-orange a:visited:not(.btn) {
  color: #191919;
}

.banner-blue {
  background: #00a3e0 0% 0% no-repeat padding-box;
}

.banner-blue a:not(.btn) {
  color: #191919;
}

.banner-blue a:visited:not(.btn) {
  color: #191919;
}

.banner-gray {
  background: #e8e8e8 0% 0% no-repeat padding-box;
}

.banner-black {
  background: #191919 0% 0% no-repeat padding-box;
  color: #ffffff;
}

.banner-black a:not(.btn) {
  color: #ffc627;
}

.banner-black a:visited:not(.btn) {
  color: #7f6227;
}

@media screen and (max-width: 576px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner .banner-icon {
    text-align: left;
    margin-bottom: 0.5rem;
  }
  .banner .banner-icon svg {
    font-size: 2.5rem;
    margin: 0rem;
  }
  .banner .banner-content {
    margin-bottom: 1rem;
  }
  .banner .banner-content h3 {
    margin-bottom: 1rem;
  }
  .banner .banner-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin-top: initial;
    margin-right: initial;
  }
}
