.btn {
  display: inline-block;
  font-weight: 400;
  color: #191919;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1rem 2rem;
  font-size: 1rem;
  line-height: 1rem;
  border-radius: 400rem;
  -webkit-transition: 0.03s ease-in-out;
  -o-transition: 0.03s ease-in-out;
  transition: 0.03s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.btn:hover {
  color: #191919;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(140, 29, 64, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(140, 29, 64, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 50%;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-success {
  color: #212529;
  background-color: #78be20;
  border-color: #78be20;
}

.btn-success:hover {
  color: #ffffff;
  background-color: #639d1a;
  border-color: #5c9219;
}

.btn-success:focus, .btn-success.focus {
  color: #ffffff;
  background-color: #639d1a;
  border-color: #5c9219;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(107, 167, 33, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(107, 167, 33, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
  color: #212529;
  background-color: #78be20;
  border-color: #78be20;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #ffffff;
  background-color: #5c9219;
  border-color: #568717;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(107, 167, 33, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(107, 167, 33, 0.5);
}

.btn-info {
  color: #ffffff;
  background-color: #00a3e0;
  border-color: #00a3e0;
}

.btn-info:hover {
  color: #ffffff;
  background-color: #0087ba;
  border-color: #007ead;
}

.btn-info:focus, .btn-info.focus {
  color: #ffffff;
  background-color: #0087ba;
  border-color: #007ead;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 177, 229, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 177, 229, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
  color: #ffffff;
  background-color: #00a3e0;
  border-color: #00a3e0;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #ffffff;
  background-color: #007ead;
  border-color: #0075a0;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 177, 229, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 177, 229, 0.5);
}

.btn-warning {
  color: #212529;
  background-color: #ff7f32;
  border-color: #ff7f32;
}

.btn-warning:hover {
  color: #ffffff;
  background-color: #ff670c;
  border-color: #fe5f00;
}

.btn-warning:focus, .btn-warning.focus {
  color: #ffffff;
  background-color: #ff670c;
  border-color: #fe5f00;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(222, 114, 49, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(222, 114, 49, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
  color: #212529;
  background-color: #ff7f32;
  border-color: #ff7f32;
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: #ffffff;
  background-color: #fe5f00;
  border-color: #f15b00;
}

.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(222, 114, 49, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(222, 114, 49, 0.5);
}

.btn-danger {
  color: #ffffff;
  background-color: #cc2f2f;
  border-color: #cc2f2f;
}

.btn-danger:hover {
  color: #ffffff;
  background-color: #ad2828;
  border-color: #a32525;
}

.btn-danger:focus, .btn-danger.focus {
  color: #ffffff;
  background-color: #ad2828;
  border-color: #a32525;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(212, 78, 78, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(212, 78, 78, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
  color: #ffffff;
  background-color: #cc2f2f;
  border-color: #cc2f2f;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #ffffff;
  background-color: #a32525;
  border-color: #982323;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(212, 78, 78, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(212, 78, 78, 0.5);
}

.btn-light {
  color: #212529;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}

.btn-light:hover {
  color: #212529;
  background-color: #d5d5d5;
  border-color: #cfcfcf;
}

.btn-light:focus, .btn-light.focus {
  color: #212529;
  background-color: #d5d5d5;
  border-color: #cfcfcf;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(202, 203, 203, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(202, 203, 203, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
  color: #212529;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  color: #212529;
  background-color: #cfcfcf;
  border-color: #c8c8c8;
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(202, 203, 203, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(202, 203, 203, 0.5);
}

.btn-dark {
  color: #ffffff;
  background-color: #191919;
  border-color: #191919;
}

.btn-dark:hover {
  color: #ffffff;
  background-color: #060606;
  border-color: black;
}

.btn-dark:focus, .btn-dark.focus {
  color: #ffffff;
  background-color: #060606;
  border-color: black;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
  color: #ffffff;
  background-color: #191919;
  border-color: #191919;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: #ffffff;
  background-color: black;
  border-color: black;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
}

.btn-gold {
  color: #212529;
  background-color: #ffc627;
  border-color: #ffc627;
}

.btn-gold:hover {
  color: #212529;
  background-color: #ffbc01;
  border-color: #f3b300;
}

.btn-gold:focus, .btn-gold.focus {
  color: #212529;
  background-color: #ffbc01;
  border-color: #f3b300;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(222, 174, 39, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(222, 174, 39, 0.5);
}

.btn-gold.disabled, .btn-gold:disabled {
  color: #212529;
  background-color: #ffc627;
  border-color: #ffc627;
}

.btn-gold:not(:disabled):not(.disabled):active, .btn-gold:not(:disabled):not(.disabled).active,
.show > .btn-gold.dropdown-toggle {
  color: #212529;
  background-color: #f3b300;
  border-color: #e6a900;
}

.btn-gold:not(:disabled):not(.disabled):active:focus, .btn-gold:not(:disabled):not(.disabled).active:focus,
.show > .btn-gold.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(222, 174, 39, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(222, 174, 39, 0.5);
}

.btn-maroon {
  color: #ffffff;
  background-color: #8c1d40;
  border-color: #8c1d40;
}

.btn-maroon:hover {
  color: #ffffff;
  background-color: #6c1632;
  border-color: #62142d;
}

.btn-maroon:focus, .btn-maroon.focus {
  color: #ffffff;
  background-color: #6c1632;
  border-color: #62142d;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(157, 63, 93, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(157, 63, 93, 0.5);
}

.btn-maroon.disabled, .btn-maroon:disabled {
  color: #ffffff;
  background-color: #8c1d40;
  border-color: #8c1d40;
}

.btn-maroon:not(:disabled):not(.disabled):active, .btn-maroon:not(:disabled):not(.disabled).active,
.show > .btn-maroon.dropdown-toggle {
  color: #ffffff;
  background-color: #62142d;
  border-color: #571228;
}

.btn-maroon:not(:disabled):not(.disabled):active:focus, .btn-maroon:not(:disabled):not(.disabled).active:focus,
.show > .btn-maroon.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(157, 63, 93, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(157, 63, 93, 0.5);
}

.btn-gray {
  color: #212529;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-gray:hover {
  color: #212529;
  background-color: #acacac;
  border-color: #a6a6a6;
}

.btn-gray:focus, .btn-gray.focus {
  color: #212529;
  background-color: #acacac;
  border-color: #a6a6a6;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(167, 168, 169, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(167, 168, 169, 0.5);
}

.btn-gray.disabled, .btn-gray:disabled {
  color: #212529;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-gray:not(:disabled):not(.disabled):active, .btn-gray:not(:disabled):not(.disabled).active,
.show > .btn-gray.dropdown-toggle {
  color: #212529;
  background-color: #a6a6a6;
  border-color: #9f9f9f;
}

.btn-gray:not(:disabled):not(.disabled):active:focus, .btn-gray:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(167, 168, 169, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(167, 168, 169, 0.5);
}

.btn-gray-1 {
  color: #212529;
  background-color: #fafafa;
  border-color: #fafafa;
}

.btn-gray-1:hover {
  color: #212529;
  background-color: #e7e7e7;
  border-color: #e1e1e1;
}

.btn-gray-1:focus, .btn-gray-1.focus {
  color: #212529;
  background-color: #e7e7e7;
  border-color: #e1e1e1;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(217, 218, 219, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(217, 218, 219, 0.5);
}

.btn-gray-1.disabled, .btn-gray-1:disabled {
  color: #212529;
  background-color: #fafafa;
  border-color: #fafafa;
}

.btn-gray-1:not(:disabled):not(.disabled):active, .btn-gray-1:not(:disabled):not(.disabled).active,
.show > .btn-gray-1.dropdown-toggle {
  color: #212529;
  background-color: #e1e1e1;
  border-color: #dadada;
}

.btn-gray-1:not(:disabled):not(.disabled):active:focus, .btn-gray-1:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray-1.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(217, 218, 219, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(217, 218, 219, 0.5);
}

.btn-gray-2 {
  color: #212529;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}

.btn-gray-2:hover {
  color: #212529;
  background-color: #d5d5d5;
  border-color: #cfcfcf;
}

.btn-gray-2:focus, .btn-gray-2.focus {
  color: #212529;
  background-color: #d5d5d5;
  border-color: #cfcfcf;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(202, 203, 203, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(202, 203, 203, 0.5);
}

.btn-gray-2.disabled, .btn-gray-2:disabled {
  color: #212529;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}

.btn-gray-2:not(:disabled):not(.disabled):active, .btn-gray-2:not(:disabled):not(.disabled).active,
.show > .btn-gray-2.dropdown-toggle {
  color: #212529;
  background-color: #cfcfcf;
  border-color: #c8c8c8;
}

.btn-gray-2:not(:disabled):not(.disabled):active:focus, .btn-gray-2:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray-2.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(202, 203, 203, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(202, 203, 203, 0.5);
}

.btn-gray-3 {
  color: #212529;
  background-color: #d0d0d0;
  border-color: #d0d0d0;
}

.btn-gray-3:hover {
  color: #212529;
  background-color: #bdbdbd;
  border-color: #b7b7b7;
}

.btn-gray-3:focus, .btn-gray-3.focus {
  color: #212529;
  background-color: #bdbdbd;
  border-color: #b7b7b7;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(182, 182, 183, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(182, 182, 183, 0.5);
}

.btn-gray-3.disabled, .btn-gray-3:disabled {
  color: #212529;
  background-color: #d0d0d0;
  border-color: #d0d0d0;
}

.btn-gray-3:not(:disabled):not(.disabled):active, .btn-gray-3:not(:disabled):not(.disabled).active,
.show > .btn-gray-3.dropdown-toggle {
  color: #212529;
  background-color: #b7b7b7;
  border-color: #b0b0b0;
}

.btn-gray-3:not(:disabled):not(.disabled):active:focus, .btn-gray-3:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray-3.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(182, 182, 183, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(182, 182, 183, 0.5);
}

.btn-gray-4 {
  color: #212529;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-gray-4:hover {
  color: #212529;
  background-color: #acacac;
  border-color: #a6a6a6;
}

.btn-gray-4:focus, .btn-gray-4.focus {
  color: #212529;
  background-color: #acacac;
  border-color: #a6a6a6;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(167, 168, 169, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(167, 168, 169, 0.5);
}

.btn-gray-4.disabled, .btn-gray-4:disabled {
  color: #212529;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-gray-4:not(:disabled):not(.disabled):active, .btn-gray-4:not(:disabled):not(.disabled).active,
.show > .btn-gray-4.dropdown-toggle {
  color: #212529;
  background-color: #a6a6a6;
  border-color: #9f9f9f;
}

.btn-gray-4:not(:disabled):not(.disabled):active:focus, .btn-gray-4:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray-4.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(167, 168, 169, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(167, 168, 169, 0.5);
}

.btn-gray-5 {
  color: #ffffff;
  background-color: #747474;
  border-color: #747474;
}

.btn-gray-5:hover {
  color: #ffffff;
  background-color: #616161;
  border-color: #5b5b5b;
}

.btn-gray-5:focus, .btn-gray-5.focus {
  color: #ffffff;
  background-color: #616161;
  border-color: #5b5b5b;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(137, 137, 137, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(137, 137, 137, 0.5);
}

.btn-gray-5.disabled, .btn-gray-5:disabled {
  color: #ffffff;
  background-color: #747474;
  border-color: #747474;
}

.btn-gray-5:not(:disabled):not(.disabled):active, .btn-gray-5:not(:disabled):not(.disabled).active,
.show > .btn-gray-5.dropdown-toggle {
  color: #ffffff;
  background-color: #5b5b5b;
  border-color: #545454;
}

.btn-gray-5:not(:disabled):not(.disabled):active:focus, .btn-gray-5:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray-5.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(137, 137, 137, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(137, 137, 137, 0.5);
}

.btn-gray-6 {
  color: #ffffff;
  background-color: #484848;
  border-color: #484848;
}

.btn-gray-6:hover {
  color: #ffffff;
  background-color: #353535;
  border-color: #2f2f2f;
}

.btn-gray-6:focus, .btn-gray-6.focus {
  color: #ffffff;
  background-color: #353535;
  border-color: #2f2f2f;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(99, 99, 99, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(99, 99, 99, 0.5);
}

.btn-gray-6.disabled, .btn-gray-6:disabled {
  color: #ffffff;
  background-color: #484848;
  border-color: #484848;
}

.btn-gray-6:not(:disabled):not(.disabled):active, .btn-gray-6:not(:disabled):not(.disabled).active,
.show > .btn-gray-6.dropdown-toggle {
  color: #ffffff;
  background-color: #2f2f2f;
  border-color: #282828;
}

.btn-gray-6:not(:disabled):not(.disabled):active:focus, .btn-gray-6:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray-6.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(99, 99, 99, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(99, 99, 99, 0.5);
}

.btn-gray-7 {
  color: #ffffff;
  background-color: #191919;
  border-color: #191919;
}

.btn-gray-7:hover {
  color: #ffffff;
  background-color: #060606;
  border-color: black;
}

.btn-gray-7:focus, .btn-gray-7.focus {
  color: #ffffff;
  background-color: #060606;
  border-color: black;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
}

.btn-gray-7.disabled, .btn-gray-7:disabled {
  color: #ffffff;
  background-color: #191919;
  border-color: #191919;
}

.btn-gray-7:not(:disabled):not(.disabled):active, .btn-gray-7:not(:disabled):not(.disabled).active,
.show > .btn-gray-7.dropdown-toggle {
  color: #ffffff;
  background-color: black;
  border-color: black;
}

.btn-gray-7:not(:disabled):not(.disabled):active:focus, .btn-gray-7:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray-7.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
}

.btn-outline-success {
  color: #78be20;
  border-color: #78be20;
}

.btn-outline-success:hover {
  color: #212529;
  background-color: #78be20;
  border-color: #78be20;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(120, 190, 32, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(120, 190, 32, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #78be20;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #212529;
  background-color: #78be20;
  border-color: #78be20;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(120, 190, 32, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(120, 190, 32, 0.5);
}

.btn-outline-info {
  color: #00a3e0;
  border-color: #00a3e0;
}

.btn-outline-info:hover {
  color: #ffffff;
  background-color: #00a3e0;
  border-color: #00a3e0;
}

.btn-outline-info:focus, .btn-outline-info.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 163, 224, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 163, 224, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #00a3e0;
  background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
  color: #ffffff;
  background-color: #00a3e0;
  border-color: #00a3e0;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 163, 224, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 163, 224, 0.5);
}

.btn-outline-warning {
  color: #ff7f32;
  border-color: #ff7f32;
}

.btn-outline-warning:hover {
  color: #212529;
  background-color: #ff7f32;
  border-color: #ff7f32;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 127, 50, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 127, 50, 0.5);
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #ff7f32;
  background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #212529;
  background-color: #ff7f32;
  border-color: #ff7f32;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 127, 50, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 127, 50, 0.5);
}

.btn-outline-danger {
  color: #cc2f2f;
  border-color: #cc2f2f;
}

.btn-outline-danger:hover {
  color: #ffffff;
  background-color: #cc2f2f;
  border-color: #cc2f2f;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(204, 47, 47, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(204, 47, 47, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #cc2f2f;
  background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #ffffff;
  background-color: #cc2f2f;
  border-color: #cc2f2f;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(204, 47, 47, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(204, 47, 47, 0.5);
}

.btn-outline-light {
  color: #e8e8e8;
  border-color: #e8e8e8;
}

.btn-outline-light:hover {
  color: #212529;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}

.btn-outline-light:focus, .btn-outline-light.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(232, 232, 232, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(232, 232, 232, 0.5);
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #e8e8e8;
  background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
  color: #212529;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(232, 232, 232, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(232, 232, 232, 0.5);
}

.btn-outline-dark {
  color: #191919;
  border-color: #191919;
}

.btn-outline-dark:hover {
  color: #ffffff;
  background-color: #191919;
  border-color: #191919;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(25, 25, 25, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(25, 25, 25, 0.5);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #191919;
  background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #ffffff;
  background-color: #191919;
  border-color: #191919;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(25, 25, 25, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(25, 25, 25, 0.5);
}

.btn-outline-gold {
  color: #ffc627;
  border-color: #ffc627;
}

.btn-outline-gold:hover {
  color: #212529;
  background-color: #ffc627;
  border-color: #ffc627;
}

.btn-outline-gold:focus, .btn-outline-gold.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 198, 39, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 198, 39, 0.5);
}

.btn-outline-gold.disabled, .btn-outline-gold:disabled {
  color: #ffc627;
  background-color: transparent;
}

.btn-outline-gold:not(:disabled):not(.disabled):active, .btn-outline-gold:not(:disabled):not(.disabled).active,
.show > .btn-outline-gold.dropdown-toggle {
  color: #212529;
  background-color: #ffc627;
  border-color: #ffc627;
}

.btn-outline-gold:not(:disabled):not(.disabled):active:focus, .btn-outline-gold:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-gold.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 198, 39, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 198, 39, 0.5);
}

.btn-outline-maroon {
  color: #8c1d40;
  border-color: #8c1d40;
}

.btn-outline-maroon:hover {
  color: #ffffff;
  background-color: #8c1d40;
  border-color: #8c1d40;
}

.btn-outline-maroon:focus, .btn-outline-maroon.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(140, 29, 64, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(140, 29, 64, 0.5);
}

.btn-outline-maroon.disabled, .btn-outline-maroon:disabled {
  color: #8c1d40;
  background-color: transparent;
}

.btn-outline-maroon:not(:disabled):not(.disabled):active, .btn-outline-maroon:not(:disabled):not(.disabled).active,
.show > .btn-outline-maroon.dropdown-toggle {
  color: #ffffff;
  background-color: #8c1d40;
  border-color: #8c1d40;
}

.btn-outline-maroon:not(:disabled):not(.disabled):active:focus, .btn-outline-maroon:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-maroon.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(140, 29, 64, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(140, 29, 64, 0.5);
}

.btn-outline-gray {
  color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-outline-gray:hover {
  color: #212529;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-outline-gray:focus, .btn-outline-gray.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(191, 191, 191, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(191, 191, 191, 0.5);
}

.btn-outline-gray.disabled, .btn-outline-gray:disabled {
  color: #bfbfbf;
  background-color: transparent;
}

.btn-outline-gray:not(:disabled):not(.disabled):active, .btn-outline-gray:not(:disabled):not(.disabled).active,
.show > .btn-outline-gray.dropdown-toggle {
  color: #212529;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-outline-gray:not(:disabled):not(.disabled):active:focus, .btn-outline-gray:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-gray.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(191, 191, 191, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(191, 191, 191, 0.5);
}

.btn-outline-gray-1 {
  color: #fafafa;
  border-color: #fafafa;
}

.btn-outline-gray-1:hover {
  color: #212529;
  background-color: #fafafa;
  border-color: #fafafa;
}

.btn-outline-gray-1:focus, .btn-outline-gray-1.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(250, 250, 250, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(250, 250, 250, 0.5);
}

.btn-outline-gray-1.disabled, .btn-outline-gray-1:disabled {
  color: #fafafa;
  background-color: transparent;
}

.btn-outline-gray-1:not(:disabled):not(.disabled):active, .btn-outline-gray-1:not(:disabled):not(.disabled).active,
.show > .btn-outline-gray-1.dropdown-toggle {
  color: #212529;
  background-color: #fafafa;
  border-color: #fafafa;
}

.btn-outline-gray-1:not(:disabled):not(.disabled):active:focus, .btn-outline-gray-1:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-gray-1.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(250, 250, 250, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(250, 250, 250, 0.5);
}

.btn-outline-gray-2 {
  color: #e8e8e8;
  border-color: #e8e8e8;
}

.btn-outline-gray-2:hover {
  color: #212529;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}

.btn-outline-gray-2:focus, .btn-outline-gray-2.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(232, 232, 232, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(232, 232, 232, 0.5);
}

.btn-outline-gray-2.disabled, .btn-outline-gray-2:disabled {
  color: #e8e8e8;
  background-color: transparent;
}

.btn-outline-gray-2:not(:disabled):not(.disabled):active, .btn-outline-gray-2:not(:disabled):not(.disabled).active,
.show > .btn-outline-gray-2.dropdown-toggle {
  color: #212529;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}

.btn-outline-gray-2:not(:disabled):not(.disabled):active:focus, .btn-outline-gray-2:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-gray-2.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(232, 232, 232, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(232, 232, 232, 0.5);
}

.btn-outline-gray-3 {
  color: #d0d0d0;
  border-color: #d0d0d0;
}

.btn-outline-gray-3:hover {
  color: #212529;
  background-color: #d0d0d0;
  border-color: #d0d0d0;
}

.btn-outline-gray-3:focus, .btn-outline-gray-3.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(208, 208, 208, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(208, 208, 208, 0.5);
}

.btn-outline-gray-3.disabled, .btn-outline-gray-3:disabled {
  color: #d0d0d0;
  background-color: transparent;
}

.btn-outline-gray-3:not(:disabled):not(.disabled):active, .btn-outline-gray-3:not(:disabled):not(.disabled).active,
.show > .btn-outline-gray-3.dropdown-toggle {
  color: #212529;
  background-color: #d0d0d0;
  border-color: #d0d0d0;
}

.btn-outline-gray-3:not(:disabled):not(.disabled):active:focus, .btn-outline-gray-3:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-gray-3.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(208, 208, 208, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(208, 208, 208, 0.5);
}

.btn-outline-gray-4 {
  color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-outline-gray-4:hover {
  color: #212529;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-outline-gray-4:focus, .btn-outline-gray-4.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(191, 191, 191, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(191, 191, 191, 0.5);
}

.btn-outline-gray-4.disabled, .btn-outline-gray-4:disabled {
  color: #bfbfbf;
  background-color: transparent;
}

.btn-outline-gray-4:not(:disabled):not(.disabled):active, .btn-outline-gray-4:not(:disabled):not(.disabled).active,
.show > .btn-outline-gray-4.dropdown-toggle {
  color: #212529;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-outline-gray-4:not(:disabled):not(.disabled):active:focus, .btn-outline-gray-4:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-gray-4.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(191, 191, 191, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(191, 191, 191, 0.5);
}

.btn-outline-gray-5 {
  color: #747474;
  border-color: #747474;
}

.btn-outline-gray-5:hover {
  color: #ffffff;
  background-color: #747474;
  border-color: #747474;
}

.btn-outline-gray-5:focus, .btn-outline-gray-5.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(116, 116, 116, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(116, 116, 116, 0.5);
}

.btn-outline-gray-5.disabled, .btn-outline-gray-5:disabled {
  color: #747474;
  background-color: transparent;
}

.btn-outline-gray-5:not(:disabled):not(.disabled):active, .btn-outline-gray-5:not(:disabled):not(.disabled).active,
.show > .btn-outline-gray-5.dropdown-toggle {
  color: #ffffff;
  background-color: #747474;
  border-color: #747474;
}

.btn-outline-gray-5:not(:disabled):not(.disabled):active:focus, .btn-outline-gray-5:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-gray-5.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(116, 116, 116, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(116, 116, 116, 0.5);
}

.btn-outline-gray-6 {
  color: #484848;
  border-color: #484848;
}

.btn-outline-gray-6:hover {
  color: #ffffff;
  background-color: #484848;
  border-color: #484848;
}

.btn-outline-gray-6:focus, .btn-outline-gray-6.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(72, 72, 72, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(72, 72, 72, 0.5);
}

.btn-outline-gray-6.disabled, .btn-outline-gray-6:disabled {
  color: #484848;
  background-color: transparent;
}

.btn-outline-gray-6:not(:disabled):not(.disabled):active, .btn-outline-gray-6:not(:disabled):not(.disabled).active,
.show > .btn-outline-gray-6.dropdown-toggle {
  color: #ffffff;
  background-color: #484848;
  border-color: #484848;
}

.btn-outline-gray-6:not(:disabled):not(.disabled):active:focus, .btn-outline-gray-6:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-gray-6.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(72, 72, 72, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(72, 72, 72, 0.5);
}

.btn-outline-gray-7 {
  color: #191919;
  border-color: #191919;
}

.btn-outline-gray-7:hover {
  color: #ffffff;
  background-color: #191919;
  border-color: #191919;
}

.btn-outline-gray-7:focus, .btn-outline-gray-7.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(25, 25, 25, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(25, 25, 25, 0.5);
}

.btn-outline-gray-7.disabled, .btn-outline-gray-7:disabled {
  color: #191919;
  background-color: transparent;
}

.btn-outline-gray-7:not(:disabled):not(.disabled):active, .btn-outline-gray-7:not(:disabled):not(.disabled).active,
.show > .btn-outline-gray-7.dropdown-toggle {
  color: #ffffff;
  background-color: #191919;
  border-color: #191919;
}

.btn-outline-gray-7:not(:disabled):not(.disabled):active:focus, .btn-outline-gray-7:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-gray-7.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(25, 25, 25, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(25, 25, 25, 0.5);
}

.btn-link {
  font-weight: 400;
  color: #8c1d40;
  text-decoration: underline;
}

.btn-link:hover {
  color: #8c1d40;
  text-decoration: none;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
}

.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 400rem;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 400rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.btn {
  text-decoration: none;
  font-weight: bold;
}

.btn.btn-md {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

.btn.btn-sm, .btn-group-sm > .btn {
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
}

.btn.btn-tag {
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
  margin-top: 8px;
  background: #e8e8e8;
}

.btn.btn-tag.btn-tag-alt-white {
  background: #e8e8e8;
  color: #191919;
}

.btn.btn-tag.btn-tag-alt-gray {
  background: #d0d0d0;
  color: #191919;
}

.btn.btn-tag.btn-tag-alt-black {
  background: #bfbfbf;
  color: #191919;
}

.btn.btn-circle {
  padding: 0.25rem 0.25rem;
  width: 2rem;
  height: 2rem;
  border: solid 1px #d0d0d0;
}

.btn.btn-circle.btn-circle-alt-white {
  background: #e8e8e8;
  color: #191919;
}

.btn.btn-circle.btn-circle-alt-gray {
  background: #ffffff;
  color: #191919;
}

.btn.btn-circle.btn-circle-alt-black {
  background: #ffffff;
  color: #191919;
}

.btn.btn-circle.btn-circle-large {
  width: 4rem;
  height: 4rem;
  font-size: 1.5rem;
}

.btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.btn:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-success {
  color: #212529;
  background-color: #78be20;
  border-color: #78be20;
}

.btn-success:hover {
  color: #212529;
  background-color: #78be20;
  border-color: #78be20;
}

.btn-success:focus, .btn-success.focus {
  color: #212529;
  background-color: #78be20;
  border-color: #78be20;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(107, 167, 33, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(107, 167, 33, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
  color: #212529;
  background-color: #78be20;
  border-color: #78be20;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #212529;
  background-color: #78be20;
  border-color: #78be20;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(107, 167, 33, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(107, 167, 33, 0.5);
}

.btn-info {
  color: #ffffff;
  background-color: #00a3e0;
  border-color: #00a3e0;
}

.btn-info:hover {
  color: #ffffff;
  background-color: #00a3e0;
  border-color: #00a3e0;
}

.btn-info:focus, .btn-info.focus {
  color: #ffffff;
  background-color: #00a3e0;
  border-color: #00a3e0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 177, 229, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 177, 229, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
  color: #ffffff;
  background-color: #00a3e0;
  border-color: #00a3e0;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #ffffff;
  background-color: #00a3e0;
  border-color: #00a3e0;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 177, 229, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 177, 229, 0.5);
}

.btn-warning {
  color: #212529;
  background-color: #ff7f32;
  border-color: #ff7f32;
}

.btn-warning:hover {
  color: #212529;
  background-color: #ff7f32;
  border-color: #ff7f32;
}

.btn-warning:focus, .btn-warning.focus {
  color: #212529;
  background-color: #ff7f32;
  border-color: #ff7f32;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(222, 114, 49, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(222, 114, 49, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
  color: #212529;
  background-color: #ff7f32;
  border-color: #ff7f32;
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: #212529;
  background-color: #ff7f32;
  border-color: #ff7f32;
}

.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(222, 114, 49, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(222, 114, 49, 0.5);
}

.btn-danger {
  color: #ffffff;
  background-color: #cc2f2f;
  border-color: #cc2f2f;
}

.btn-danger:hover {
  color: #ffffff;
  background-color: #cc2f2f;
  border-color: #cc2f2f;
}

.btn-danger:focus, .btn-danger.focus {
  color: #ffffff;
  background-color: #cc2f2f;
  border-color: #cc2f2f;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(212, 78, 78, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(212, 78, 78, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
  color: #ffffff;
  background-color: #cc2f2f;
  border-color: #cc2f2f;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #ffffff;
  background-color: #cc2f2f;
  border-color: #cc2f2f;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(212, 78, 78, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(212, 78, 78, 0.5);
}

.btn-light {
  color: #212529;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}

.btn-light:hover {
  color: #212529;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}

.btn-light:focus, .btn-light.focus {
  color: #212529;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(202, 203, 203, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(202, 203, 203, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
  color: #212529;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  color: #212529;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(202, 203, 203, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(202, 203, 203, 0.5);
}

.btn-dark {
  color: #ffffff;
  background-color: #191919;
  border-color: #191919;
}

.btn-dark:hover {
  color: #ffffff;
  background-color: #191919;
  border-color: #191919;
}

.btn-dark:focus, .btn-dark.focus {
  color: #ffffff;
  background-color: #191919;
  border-color: #191919;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
  color: #ffffff;
  background-color: #191919;
  border-color: #191919;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: #ffffff;
  background-color: #191919;
  border-color: #191919;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
}

.btn-gold {
  color: #212529;
  background-color: #ffc627;
  border-color: #ffc627;
}

.btn-gold:hover {
  color: #212529;
  background-color: #ffc627;
  border-color: #ffc627;
}

.btn-gold:focus, .btn-gold.focus {
  color: #212529;
  background-color: #ffc627;
  border-color: #ffc627;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(222, 174, 39, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(222, 174, 39, 0.5);
}

.btn-gold.disabled, .btn-gold:disabled {
  color: #212529;
  background-color: #ffc627;
  border-color: #ffc627;
}

.btn-gold:not(:disabled):not(.disabled):active, .btn-gold:not(:disabled):not(.disabled).active,
.show > .btn-gold.dropdown-toggle {
  color: #212529;
  background-color: #ffc627;
  border-color: #ffc627;
}

.btn-gold:not(:disabled):not(.disabled):active:focus, .btn-gold:not(:disabled):not(.disabled).active:focus,
.show > .btn-gold.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(222, 174, 39, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(222, 174, 39, 0.5);
}

.btn-maroon {
  color: #ffffff;
  background-color: #8c1d40;
  border-color: #8c1d40;
}

.btn-maroon:hover {
  color: #ffffff;
  background-color: #8c1d40;
  border-color: #8c1d40;
}

.btn-maroon:focus, .btn-maroon.focus {
  color: #ffffff;
  background-color: #8c1d40;
  border-color: #8c1d40;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(157, 63, 93, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(157, 63, 93, 0.5);
}

.btn-maroon.disabled, .btn-maroon:disabled {
  color: #ffffff;
  background-color: #8c1d40;
  border-color: #8c1d40;
}

.btn-maroon:not(:disabled):not(.disabled):active, .btn-maroon:not(:disabled):not(.disabled).active,
.show > .btn-maroon.dropdown-toggle {
  color: #ffffff;
  background-color: #8c1d40;
  border-color: #8c1d40;
}

.btn-maroon:not(:disabled):not(.disabled):active:focus, .btn-maroon:not(:disabled):not(.disabled).active:focus,
.show > .btn-maroon.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(157, 63, 93, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(157, 63, 93, 0.5);
}

.btn-gray {
  color: #212529;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-gray:hover {
  color: #212529;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-gray:focus, .btn-gray.focus {
  color: #212529;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(167, 168, 169, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(167, 168, 169, 0.5);
}

.btn-gray.disabled, .btn-gray:disabled {
  color: #212529;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-gray:not(:disabled):not(.disabled):active, .btn-gray:not(:disabled):not(.disabled).active,
.show > .btn-gray.dropdown-toggle {
  color: #212529;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-gray:not(:disabled):not(.disabled):active:focus, .btn-gray:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(167, 168, 169, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(167, 168, 169, 0.5);
}

.btn-gray-1 {
  color: #212529;
  background-color: #fafafa;
  border-color: #fafafa;
}

.btn-gray-1:hover {
  color: #212529;
  background-color: #fafafa;
  border-color: #fafafa;
}

.btn-gray-1:focus, .btn-gray-1.focus {
  color: #212529;
  background-color: #fafafa;
  border-color: #fafafa;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(217, 218, 219, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(217, 218, 219, 0.5);
}

.btn-gray-1.disabled, .btn-gray-1:disabled {
  color: #212529;
  background-color: #fafafa;
  border-color: #fafafa;
}

.btn-gray-1:not(:disabled):not(.disabled):active, .btn-gray-1:not(:disabled):not(.disabled).active,
.show > .btn-gray-1.dropdown-toggle {
  color: #212529;
  background-color: #fafafa;
  border-color: #fafafa;
}

.btn-gray-1:not(:disabled):not(.disabled):active:focus, .btn-gray-1:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray-1.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(217, 218, 219, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(217, 218, 219, 0.5);
}

.btn-gray-2 {
  color: #212529;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}

.btn-gray-2:hover {
  color: #212529;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}

.btn-gray-2:focus, .btn-gray-2.focus {
  color: #212529;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(202, 203, 203, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(202, 203, 203, 0.5);
}

.btn-gray-2.disabled, .btn-gray-2:disabled {
  color: #212529;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}

.btn-gray-2:not(:disabled):not(.disabled):active, .btn-gray-2:not(:disabled):not(.disabled).active,
.show > .btn-gray-2.dropdown-toggle {
  color: #212529;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}

.btn-gray-2:not(:disabled):not(.disabled):active:focus, .btn-gray-2:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray-2.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(202, 203, 203, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(202, 203, 203, 0.5);
}

.btn-gray-3 {
  color: #212529;
  background-color: #d0d0d0;
  border-color: #d0d0d0;
}

.btn-gray-3:hover {
  color: #212529;
  background-color: #d0d0d0;
  border-color: #d0d0d0;
}

.btn-gray-3:focus, .btn-gray-3.focus {
  color: #212529;
  background-color: #d0d0d0;
  border-color: #d0d0d0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(182, 182, 183, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(182, 182, 183, 0.5);
}

.btn-gray-3.disabled, .btn-gray-3:disabled {
  color: #212529;
  background-color: #d0d0d0;
  border-color: #d0d0d0;
}

.btn-gray-3:not(:disabled):not(.disabled):active, .btn-gray-3:not(:disabled):not(.disabled).active,
.show > .btn-gray-3.dropdown-toggle {
  color: #212529;
  background-color: #d0d0d0;
  border-color: #d0d0d0;
}

.btn-gray-3:not(:disabled):not(.disabled):active:focus, .btn-gray-3:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray-3.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(182, 182, 183, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(182, 182, 183, 0.5);
}

.btn-gray-4 {
  color: #212529;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-gray-4:hover {
  color: #212529;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-gray-4:focus, .btn-gray-4.focus {
  color: #212529;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(167, 168, 169, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(167, 168, 169, 0.5);
}

.btn-gray-4.disabled, .btn-gray-4:disabled {
  color: #212529;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-gray-4:not(:disabled):not(.disabled):active, .btn-gray-4:not(:disabled):not(.disabled).active,
.show > .btn-gray-4.dropdown-toggle {
  color: #212529;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-gray-4:not(:disabled):not(.disabled):active:focus, .btn-gray-4:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray-4.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(167, 168, 169, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(167, 168, 169, 0.5);
}

.btn-gray-5 {
  color: #ffffff;
  background-color: #747474;
  border-color: #747474;
}

.btn-gray-5:hover {
  color: #ffffff;
  background-color: #747474;
  border-color: #747474;
}

.btn-gray-5:focus, .btn-gray-5.focus {
  color: #ffffff;
  background-color: #747474;
  border-color: #747474;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(137, 137, 137, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(137, 137, 137, 0.5);
}

.btn-gray-5.disabled, .btn-gray-5:disabled {
  color: #ffffff;
  background-color: #747474;
  border-color: #747474;
}

.btn-gray-5:not(:disabled):not(.disabled):active, .btn-gray-5:not(:disabled):not(.disabled).active,
.show > .btn-gray-5.dropdown-toggle {
  color: #ffffff;
  background-color: #747474;
  border-color: #747474;
}

.btn-gray-5:not(:disabled):not(.disabled):active:focus, .btn-gray-5:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray-5.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(137, 137, 137, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(137, 137, 137, 0.5);
}

.btn-gray-6 {
  color: #ffffff;
  background-color: #484848;
  border-color: #484848;
}

.btn-gray-6:hover {
  color: #ffffff;
  background-color: #484848;
  border-color: #484848;
}

.btn-gray-6:focus, .btn-gray-6.focus {
  color: #ffffff;
  background-color: #484848;
  border-color: #484848;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(99, 99, 99, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(99, 99, 99, 0.5);
}

.btn-gray-6.disabled, .btn-gray-6:disabled {
  color: #ffffff;
  background-color: #484848;
  border-color: #484848;
}

.btn-gray-6:not(:disabled):not(.disabled):active, .btn-gray-6:not(:disabled):not(.disabled).active,
.show > .btn-gray-6.dropdown-toggle {
  color: #ffffff;
  background-color: #484848;
  border-color: #484848;
}

.btn-gray-6:not(:disabled):not(.disabled):active:focus, .btn-gray-6:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray-6.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(99, 99, 99, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(99, 99, 99, 0.5);
}

.btn-gray-7 {
  color: #ffffff;
  background-color: #191919;
  border-color: #191919;
}

.btn-gray-7:hover {
  color: #ffffff;
  background-color: #191919;
  border-color: #191919;
}

.btn-gray-7:focus, .btn-gray-7.focus {
  color: #ffffff;
  background-color: #191919;
  border-color: #191919;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
}

.btn-gray-7.disabled, .btn-gray-7:disabled {
  color: #ffffff;
  background-color: #191919;
  border-color: #191919;
}

.btn-gray-7:not(:disabled):not(.disabled):active, .btn-gray-7:not(:disabled):not(.disabled).active,
.show > .btn-gray-7.dropdown-toggle {
  color: #ffffff;
  background-color: #191919;
  border-color: #191919;
}

.btn-gray-7:not(:disabled):not(.disabled):active:focus, .btn-gray-7:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray-7.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
}
