@import '../../sass/extends/images';

.uds-img {
  /* Add margin to bottom of image with boxshadow.*/
  &.uds-img-drop-shadow {
    margin-bottom: 1em;
  }
}

/* Apply border to embedded image. */
.embedded-media {
  width: 100% !important;
  img {
    border: 1px solid $uds-color-base-gray-3;
    width: 100%;
    height: auto;
  }
}

/* Figcaption Overrides CKeditor. */
.caption-drupal-media {
  img {
    border: 1px solid $uds-color-base-gray-3;
  }
}
