@import '../../sass/extends/banners';

// Override the default unity system css to use FA5 icons

.banner {
  margin-bottom: 1.5rem;
  .banner-buttons {
    flex: 3;
    a,
    button {
      margin-top: $uds-size-spacing-1;
      margin-bottom: $uds-size-spacing-1;
    }
    // Do buttons in their own flexbox, column-style, no stretching.
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .banner-close {
    flex: 2;
    margin-top: -$uds-size-spacing-2;
    margin-right: -$uds-size-spacing-2;
    display: flex;
    justify-content: flex-end;
  }
  #btn-close {
    outline: none;
    border: none;
  }
}

// Media Queries
.banner {
  // Mobile tweaks. 576px
  @media screen and (max-width: $uds-breakpoint-sm) {
    .banner-close {
      margin-top: 0;
      margin-right: 0;
    }
  }
}
