@import '../../sass/extends/banners';

.banner__text {
  word-break: break-all;
}

.banner-buttons  {
  a.btn {
    margin-left: 0;
  }
}

.block-inline-blockbanner {
  .banner {
    .banner-close {
      .close {
        opacity: 1;
      }
    }
  }
}

