@import '../../sass/extends/banners';

.banner__text {
  word-break: break-all;
}

.banner-buttons  {
  a.btn {
    margin-left: 0;
  }
}

.block-inline-blockbanner {
  .banner {
    .banner-close {
      .close {
        opacity: 1;
      }
    }
  }
}

.uds-cookie-consent-component-wrapper {
  .uds-cookie-consent-component {
    a:focus {
      background: none !important;
      color: $uds-color-base-maroon !important;
    }
  }
}
