<div class="banner {{ background_color }}" role="banner">
  <div class="banner-icon">
    <span title="Banner" class="fa fa-icon fa-bell"></span>
  </div>
  <div class="banner-content">
    {{ heading }}
    {{ banner_text }}
  </div>
  <div class="banner-buttons">
    {{ cta }}
  </div>
  <div class="banner-close">
    <button type="button" class="btn btn-circle btn-circle-alt-white close" aria-label="Close" onclick="event.target.parentNode.parentNode.style.display='none';">x</button>
  </div>
</div>
